@media only screen and (min-width: 1600px) {
    .main-container > img {
        width: 20%;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        background: linear-gradient(90deg, var(--background) 40%, var(--main-background) 40%);
        grid-template-columns: 4fr 6fr;
    }
    nav {
        justify-content: space-evenly;
    }
    .navbar-links > ul > li {
        font-size: 1em;
    }
    #search-bar {
        width: 120px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
    footer > div {
        font-size: .75em;
    }
    .navbar-links > ul {
        margin-left: -25px;
    }
    .navbar-links > ul > li {
        font-size: .75em;
        margin: 0;
    }
    #search-bar {
        margin-left: -15px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        background: var(--background);
        display: flex;
        flex-direction: column;
        height: unset;
        overflow-x: hidden;
    }
    nav {
        height: 100px;
    }
    nav > img {
        place-self: center;
    }
    .menu-hamburger {
        display: inline-block;
    }
    .navbar-links {
        display: block;
        position: absolute;
        top: 100px;
        left: -1000px;
        padding: 0;
        margin: 0;
        transition: left .3s;
    }
    .navbar-links > ul {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        font-size: 2em;
        background-color: var(--main-background);
        width: 100vw;
        height: 100vh;
        padding-top: 0;
    }
    .navbar-links > ul > li {
        padding: 30px 0 30px 35px;
        border-left: 5px solid transparent;
    }
    .navbar-links > ul > li:hover {
        border-left: 5px solid var(--button);
    }
    .navbar-links.menuDisplay {
        left: 0;
        transition: left .3s;
    }
    main {
        background-color: var(--main-background);
    }
    footer {
        height: 50px;
        position: fixed;
        bottom: 0;
    }
    footer > div {
        flex: 2;
    }
    footer > div:first-child {
        display: none;
    }
    footer > div:last-child {
        font-size: .75em;
    }
    footer > div > span {
        display: none;
    }
    footer > div > img {
        display: block;
    }
}

@media only screen and (max-width: 320px) {
    #search-bar {
        margin-left: 0;
    }
}